@mixin FlexCenter {
  display: flex;
  justify-content: center;
}
@mixin MarginCenter {
  margin-left: auto;
  margin-right: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  animation: FadeOut ease-out 1.5s 1 paused;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  position: absolute;
  background-color: rgb(179, 165, 165);
  height: 10%;
  opacity: 1;
  width: 100%;
  @include FlexCenter();
  align-items: center;
  span {
    color: yellow;
    font-size: 3rem;
  }
}
@keyframes FadeOut {
  to {
    background-color: black;
  }
}
.Content {
  background-color: #222;
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  .UpperRowFirstColumn {
    @include FlexCenter();
    align-items: center;
    border-bottom: 2px yellow solid;
    border-right: 2px yellow solid;
    h1 {
      color: yellow;
      font-weight: bold;
      font-size: 3em;
    }
  }
  .UpperRowSecondColumn {
    @include FlexCenter();
    align-items: center;
    border-bottom: 2px yellow solid;
  }
  .LowerRowFirstColumn {
    border-right: 2px yellow solid;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
    }
  }
  .LowerRowSecondColumn {
    text-align: justify;
    padding: 1.5rem;
    span {
      font-size: 2em;
      color: yellow;
      text-align: center;
      @include FlexCenter();
      font-weight: bold;
    }
    p {
      max-width: 45ch;
      line-height: 130%;
      font-size: 1.25rem;
      color: white;
      font-weight: 500;
    }
  }
}
.PickDate {
  padding: 1rem;
  left: 35%;
  right: 35%;
  top: 30%;
  position: absolute;
  width: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: white 0px 5px 15px;
  .DateContainer {
    @include FlexCenter();
    margin-bottom: 1rem;
    padding: 1rem;
    input[type="date"] {
      width: 30%;
    }
  }
  .FlexContainerCenter {
    @include FlexCenter();
    .SubmitButton {
      font-size: 1.25rem;
      border-radius: 0.5rem;
      width: 30%;
      height: 20%;
      background-color: black;
      color: white;
      border: 2px solid gray;
      cursor: pointer;
    }
  }
}
footer {
  position: absolute;
  padding-top: 0.5rem;
  height: 10vh;
  width: 100vw;
  top: 90vh;
  opacity: 0.5;
  @include FlexCenter();
  background-color: rgb(179, 165, 165);
  span {
    font-size: 2em;
    color: whitesmoke;
  }
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}
